/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

.columns {
  margin: 0;
  padding: 0;
}

/* ================================  NAVBAR  ================================  */

.logo-navbar {
  display: inline;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: #fff;
  margin: -15px 0;
}

a {
    text-decoration: none !important;
}

/* ================================  ICONS  ================================  */

.icon .fa-edit{
  font-size: 1.5rem;
  color: #3298dc;
}

.icon .fa-star{
  font-size: 1.5rem;
  color: #3298dc;
}

/* ================================  LANDING PAGE HERO SECTION  ================================  */

.hero-text {
  font-size: 10vw;
  color: #ffffff;
}

.hero-block-text {
  background-color: #fff;
  display: inline;
  font-size: 10vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  padding: .1vw 2vw;
  color: #3298dc;
}

.fa-chevron-down {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 30px;
}

/* ================================  PAGE TITLES  ================================  */

.block-text {
  display: inline;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  padding: 13px 25px 10px;
  color: #a5d4f4;
}

/* ================================  WINE TYPE SECTION / LANDING PAGE  ================================  */

.wine-type-container {
  background-color: #fff;
  padding-top: 120px;
}

.wine-type-title {
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #a5d4f4;
}

.button-box {
  margin-top: 40px;
  padding-bottom: 120px;
}

/* ================================  VARIETALS / LANDING PAGE  ================================  */

.varietals-container {
  background-color: #a5d4f4;
  padding: 120px 40px 0;
}

.varietals-title {
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #fff;
}

/* ================================  SORT BY / LANDING PAGE  ================================  */

.sort-by-container {
  background-color: #fff;
  padding-top: 120px;
}

.sort-by-title {
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #a5d4f4;
}

/* ================================  RESULTS BUTTON / LANDING PAGE  ================================  */

.results-button {
  background-color: #a5d4f4;
  padding-bottom: 120px;
  padding-top: 120px;
}

.results-btn-title {
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #fff;
}

.results-arrow {
 margin-top: 20px;
 padding: 30px 50px;
}

.fa-long-arrow-alt-right {
  font-size: 5rem;
}

/* ================================  SORT SIDE BAR / RESULTS PAGE  ================================  */

.sticky	{
  position: sticky;
  top: 30px;
}

.hidden {
  display: none;
}

.sort-label {
  background-color: #a5d4f4;
  display: block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 8px 120px 6px 10px;
  margin-bottom: 20px;
  color: #ffffff;
  white-space: nowrap;
}

.sort-label:hover {
  background-color: #83c6f4;
  display: block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 8px 120px 6px 10px;
  margin-bottom: 20px;
  color: #ffffff;
  white-space: nowrap;
}

/* Prevents the sort by buttons from being highlighted when the user clicks on them */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* ================================  SMALL BLOCK TEXT  ================================  */

.small-text {
  background-color: #3298dc;
  display: inline;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  padding: 1px 4px 1px;
  color: #ffffff;
}

/* ================================  PROFILE PAGE ================================  */

.profile-name {
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
}

.profile-stat-title {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  white-space: nowrap;
}

.profile-stat {
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
}

.profile-subtitle {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  white-space: nowrap;
  color: #3198db;
}

/* ================================  FORMS  ================================  */

.label {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  white-space: nowrap;
  color: #fff;
}

.form-container {
  margin-top: 40px;
}

/* ================================  EDIT REVIEW PAGE  ================================  */

.edit-review-block {
background-color: #a5d4f4;
}

.block-text-review {
  display: inline;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  padding: 13px 25px 10px;
  color: #a5d4f4;
}

.review-block {
background-color: #fff;
}

.block-text-review-edit {
  display: inline;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  padding: 13px 25px 10px;
  color: #fff;
}

.columns-edit-review {
display: flex;
}

.column-edit-review {
flex: 50%;
}

.button-group {
 padding-bottom: 50px;
}

/* ================================  SEARCH BAR  ================================  */

#search-bar {
  margin-bottom: -10px;
  margin-top: 8px;
}

.search-icon {
  margin-top: 8px;
}

.fa-search {
 color: #a5d4f4;
}

.magnify-glass {
  pointer-events: all; 
  cursor: pointer;
}

/* ================================  PROGRESS BAR  ================================  */

.progress-bar-container {
  position: fixed;
  height: calc(100vh + 46px);
  width: 100vw;
  z-index: 1;
  background-color: rgba(255, 255, 255, .8)
}

.progress-bar-box { 
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* ================================  PROGRESS BAR  ================================  */

.flash-box{
  position: fixed;
  width: 100vw;
}

/* ================================  Pagination  ================================  */

.pagination-box {
  display: block;
  margin: 0 auto;
}

/* ================================  POWERED BY QUINI  ================================  */

.quini-subtitle {
  margin-top: 45px;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #fff;

  /* color: rgb(18, 18, 18); */
}

.quini-logo {
  max-width: 170px;
  height:auto;
  margin-left: 10px;
}