{% extends "base.html" %}

{% block title %} COMBINED OPTIONS {% endblock %}


{% block content %}


  <h1 class="title is-1 has-text-centered mt-6">Do you want wines that ONLY contain the EXACT varietals you picked?</h1>

<div class="has-text-centered" id="combined-varietals">
<a href="/show_combined_question" class="button is-success is-outlined combined-varietals">
    <span class="icon is-small">
      <i class="fas fa-check"></i>
    </span>
    <span>Yes</span>
  </a>
  <a href="/show_combined_question" class="button is-success is-outlined combined-varietals">
    <span class="icon is-small">
      <i class="fas fa-times"></i>
    </span>
    <span>No</span>
  </a>
 </div>




{% endblock %}
