{% extends "base.html" %}

{% block title %} COMBINED OPTIONS {% endblock %}


{% block content %}

  <div class="has-text-centered" id="varietals">
  {% for varietal in varietals%}
    <button class="button is-primary is-outlined is-rounded mt-3 mx-3 varietals">{{varietal}}</button>
  {% endfor %}
  </div>

  <!-- Which of the following would you like to be applied to your results:
1. Return wines made with ONLY and EXACTLY these varietals.
2. Return wines that contain at least one or more of these varietals. -->

  <h1 class="title is-1 has-text-centered mt-6">Which of the following would you like to be applied to your results?</h1>

<div class="has-text-centered" id="combined-varietals">
  <h2 class="subtitle has-text-centered mt-6">Return wines made with ONLY and EXACTLY these varietals.</h2>
<a href="/show_exact_results" id="combined-question" class="button is-success is-outlined combined-varietals">
    <span class="icon is-small">
      <i class="fas fa-check"></i>
    </span>
    <span>Yes Please</span>
  </a>
  <h2 class="subtitle has-text-centered mt-6">Return wines that contain at least one or more of these varietals.</h2>
<a href="/show_close_to_results" id="combined-question" class="button is-success is-outlined combined-varietals">
    <span class="icon is-small">
      <i class="fas fa-check"></i>
    </span>
    <span>Yes Please</span>
  </a>
 </div>

 <!-- <div class="has-text-centered" id="combined-varietals">
<a href="/show_combined_question" id="combined-question" class="button is-success is-outlined combined-varietals">
    <span class="icon is-small">
      <i class="fas fa-check"></i>
    </span>
    <span>Yes</span>
  </a>
  <a href="/show_combined_question" id="combined-question" class="button is-success is-outlined combined-varietals">
    <span class="icon is-small">
      <i class="fas fa-times"></i>
    </span>
    <span>No</span>
  </a>
 </div> -->




{% endblock %}
