{% extends "base.html" %}

{% block title %} FAVORITES {% endblock %}


{% block content %}
<div id="flash"></div>
<div class="columns my-3 mx-3 is-multiline" id="wine-favorites">
 {% if faved_wines[0] == Undefined %}
    <h3 class="title is-3 has-text-centered mt-6">No favorites.</h3>
  {% else %}
{% for wine in faved_wines %}
 

<div class="column is-one-third">
  <article class="message is-dark">
  
  <div class="message-header">
    <p>{{wine.name}}</p>
  </div>

  <div class="message-body">
    <p><strong>NAME: </strong>{{wine.name}}</p>
    <p><strong>WINERY: </strong>{{wine.winery}}</p>
    <p><strong>COUNTRY: </strong>{{wine.country}}</p>
    <p><strong>AREA: </strong>{{wine.area}}</p>
    <p><strong>VINTAGE: </strong>{{wine.vintage}}</p>
    <p><strong>VARIETAL: </strong>{{wine.varietal}}</p>
    <p><strong>TYPE: </strong>{{wine.type}}</p>
    <p><strong>RATING: </strong>{{wine.rating}}</p>
  </div>

    <div class="columns">
    <div class="column is-half has-text-centered mx-0 my-0">
      <button class="button is-dark fav-button favorite-button" data-id="{{wine.id}}" type="submit">
        <span class="icon is-small">
        <i class="fas fa-thumbtack"></i>
        </span>
      </button>
      
    </div>
    <div class="column is-half has-text-centered mx-0 my-0" id="review-btn">
      <form method="POST" action="/user/review/{{wine.id}}" id="review-form">
      <button class="button is-text review-btn" data-id="{{wine.id}}">
        <span class="icon is-small is-right review-btn">
        <i class="fas fa-pen review-btn"></i>
        </span>
      </button>
      </form>
    </div>
  </div>

</article>
</div>

  
{% endfor %}
{% endif %}
</div>


{% endblock %}
