{% extends "base.html" %}
{% block title %} FAVORITES {% endblock %}
{% block content %}
<div id="flash"></div>

<!-- ================================= TITLE ================================= -->

<div class="has-text-centered mt-6">
<h1 class="block-text">FAVORITES</h1>
</div>
<div class="columns my-5 mx-3 is-multiline" id="wine-results">

<!-- =====================================  NO FAVORITES CONDITIONAL  =====================================  -->

 {% if faved_wines[0] == Undefined %}
    <section class="hero is-small is-light mt-6 mx-6">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-info">
        No favorites yet.
      </h1>
    </div>
  </div>
</section>
  {% else %}

<!-- =====================================  WINE  =====================================  -->

{% for wine in faved_wines %}
<div class="column is-one-third">
  <article class="message is-info">
  <div class="message-header">
    <p>{{wine.name}}</p>
  </div>
  <div class="message-body">
    <p><strong>NAME: </strong>{{wine.name}}</p>
    <p><strong>WINERY: </strong>{{wine.winery}}</p>
    <p><strong>COUNTRY: </strong>{{wine.country}}</p>
    <p><strong>AREA: </strong>{{wine.area}}</p>
    <p><strong>VINTAGE: </strong>{{wine.vintage}}</p>
    <p><strong>VARIETAL: </strong>{{wine.varietal}}</p>
    <p><strong>TYPE: </strong>{{wine.type}}</p>
    <p><strong>RATING: </strong>{{round_rating(wine.rating)}}</p>
  </div>
    <div class="columns">
    <div class="column is-half has-text-centered mx-0 my-0">
      <button class="button is-text fav-button favorite-button" data-id="{{wine.id}}" type="submit">
        <span class="icon">
        <div id="fav-box-{{wine.id}}" data-id="{{wine.id}}" class="myFas">
                    <i class="fas fa-star" data-id="{{wine.id}}"></i>
                    </div>
        </span>
      </button>
    </div>
    <div class="column is-half has-text-centered mx-0 my-0" id="review-btn">
      <a href="/user/review/{{wine.id}}" class="button is-text review-btn" data-id="{{wine.id}}">
        <span class="icon review-btn">
        {% if wine.id in user_reviews %}
                <i class="fas fa-edit review-btn"></i>
            {% else %}
                <i class="far fa-edit review-btn"></i>
            {% endif %}
        </span>
      </a>
    </div>
  </div>
</article>
</div> 
{% endfor %}
{% endif %}
</div>
{% endblock %}
