{% extends "base.html" %} {% block title %} HOME {% endblock %} {% block content
%}

<div class="container">

<div id="wine-type" class="wine-type-container has-text-centered">
  <h3 class="title is-3 mt-6">Choose your wine type</h3>
  <button class="button is-primary is-outlined is-rounded mt-3 mx-2 wine-type">Red</button>
  <button class="button is-primary is-outlined is-rounded mt-3 mx-2 wine-type">White</button>
  <button class="button is-primary is-outlined is-rounded mt-3 mx-2 wine-type">Rose</button>
  <button class="button is-primary is-outlined is-rounded mt-3 mx-2 wine-type">All of the above</button>
</div>
<!-- 
      <div class="column">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button
              class="button"
              aria-haspopup="true"
              aria-controls="dropdown-menu4"
            >
              <span>Wine Style</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item" id="wine-style-dropdown">
                <a class="dropdown-item wine-style">
                  Single Varietals Only
                </a>
                <a class="dropdown-item wine-style">
                  Blends As Well
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->


      <div class="filter-by-container has-text-centered">
  <h3 class="title is-3 mt-6">Sort your results by</h3>
  <button class="button is-primary is-outlined is-rounded mt-3 mx-2 filter-by">Rating (Highest)</button>
  <button class="button is-primary is-outlined is-rounded mt-3 mx-2 filter-by">Rating (Lowest)</button>
  <button class="button is-primary is-outlined is-rounded mt-3 mx-2 filter-by">Vintage (Oldest)</button>
  <button class="button is-primary is-outlined is-rounded mt-3 mx-2 filter-by">Vintage (Youngest)</button>
  <button class="button is-primary is-outlined is-rounded mt-3 mx-2 filter-by">Winery (Alphabetically)</button>
</div>

      

      <div class="varietal-container has-text-centered">
  <h3 class="title is-3 mt-6">Choose your varietals</h3>
        <div class="has-text-centered" id="varietals">
          {% for varietal in varietals %}
              <button class="button is-primary is-outlined is-rounded is-small mt-3 mx-2 varietals">{{varietal}}</button>
           {% endfor %} 
        </div>
  </div>


  

<div class="has-text-centered">
  <a href="/show_results" class="button is-success is-large">Find Your Wines</a>
</div>

{% endblock %}
