{% extends "base.html" %}

{% block title %} PROFILE {% endblock %}


{% block content %}


<!-- ===========================================  HERO BANNER  =========================================== -->


<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">

<div class="columns">
  <div class="column is-half">

      <h1 class="title profile-name">
        {{user.name}}
      </h1>
      <a href="/user/edit/{{user.id}}" class="subtitle button is-white is-outlined">
    <span>Edit</span>
  </a>

 </div>

 <!-- ===========================================  LEVEL FOR LIKES / REVIEWS  =========================================== -->

  <div class="column is-half">
    
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
    
      <a href="/user/favorites"><p class="heading profile-stat-title">Favorites</p></a>
      <a href="/user/favorites"><p class="title profile-stat">{{num_of_favs}}</p></a>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <a href="/user/reviews"><p class="heading profile-stat-title">Reviews</p></a>
      <a href="/user/reviews"><p class="title profile-stat">{{num_of_reviews}}</p></a>
    </div>
  </div>
</nav>



  </div>
  </div>



    </div>
  </div>
</section>


<!-- ===========================================  MOST RECENT FAVORITE  =========================================== -->

<div class="columns">
<div class="column is-half has-text-centered mt-5">
<h1 class="block-text">FAVORITES</h1>
<h2 class="profile-subtitle">Most recent favorite</h2>
   <div class="container is-fluid is-info">  
    <hr>
</div>


</div>

<!-- ===========================================  TOP RATED REVIEW  =========================================== -->

<div class="column is-half has-text-centered mt-5">
<h1 class="block-text">REVIEWS</h1>
<h2 class="profile-subtitle">Top Rated Review</h2>
   <div class="container is-fluid is-info">  
    <hr>
</div>

</div>
</div>




{% endblock %}
