{% extends "base.html" %}

{% block title %} PROFILE {% endblock %}


{% block content %}


<!-- ===========================================  HERO BANNER  =========================================== -->


<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">

<div class="columns">
  <div class="column is-half">

      <h1 class="title">
        {{user.name}}
      </h1>

 </div>

 <!-- ===========================================  LEVEL FOR LIKES / REVIEWS  =========================================== -->

  <div class="column is-half">
    
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Favorites</p>
      <p class="title">3,456</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Reviews</p>
      <p class="title">123</p>
    </div>
  </div>
</nav>



  </div>
  </div>



    </div>
  </div>
</section>


<!-- ===========================================  MOST RECENT FAVORITE  =========================================== -->

<div class="columns">
<div class="column is-half has-text-centered mt-5">
<h1 class="title">Favorites</h1>
<h2 class="subtitle">Most recent favorite</h2>
   <div class="container is-fluid is-info">  
    <hr>
</div>


</div>

<!-- ===========================================  TOP RATED REVIEW  =========================================== -->

<div class="column is-half has-text-centered mt-5">
<h1 class="title">Reviews</h1>
<h2 class="subtitle">Top Rated Review</h2>
   <div class="container is-fluid is-info">  
    <hr>
</div>

</div>
</div>




{% endblock %}
