{% extends "base.html" %}

{% block title %} HOME {% endblock %}


{% block content %}


  <h1 class="title is-1 has-text-centered mt-6">What type of wine are you in the mood for?</h1>

  <div class="has-text-centered">
    <a href="/show_red_varietals" class="button is-success is-large">Red</a>
    <a href="/show_white_varietals" class="button is-success is-large">White</a>
    <a href="/show_rose_varietals" class="button is-success is-large">Rose</a>
    <a href="/show_all_varietals" class="button is-success is-large">All of the above!</a>
  </div>



{% endblock %}
